#btn-submit-doa {
    width: 100%;
}

#cover{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doa-chat {
  background: #f9f9f9;
  border-left: 4px solid #6c757d;
  border-radius: 8px;
  font-family: sans-serif;
}

.doa-nama {
  color: #007bff;
  font-size: 1rem;
}

.doa-isi {
  font-size: 0.95rem;
  white-space: pre-wrap;
}

.doa-kehadiran {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-weight: 500;
}

.label-hadir {
  background-color: #d4edda;
  color: #155724;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
}
.label-tidak {
  background-color: #f8d7da;
  color: #721c24;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
}

button#btn-load-more {
    padding: 10px;
    margin: 20px 10%;
    width: 80%;
}


/* Alert Styles */
#alert-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.alert-active {
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.alert-info {
  background-color: #007bff;
}
.alert-success {
  background-color: #28a745;
}
.alert-error, .alert-danger {
  background-color: #dc3545;
}
.alert-warning {
  background-color: #ffc107;
  color: #333;
}

/* Embed YouTube Video */
div#embedYT {
    display: flex;
    justify-content: center;
}

/*alert*/
.alert {
    position: fixed;
    min-width: 300px;
    max-width: 720px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    z-index: 999999999;
    color: #f9f9f9;
    padding: 0 40px 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.alert.show {
    opacity: 1;
    visibility: visible !important;
}

.alert.hide {
    opacity: 0;
    visibility: hidden !important;
}

.alert.success {
    background: #28a745;
    color: #ffffff;
}
.alert.error {
    background: #dc3545;
    color: #ffffff;
}
.alert.info {
    background: #3267E3;
    color: #ffffff;
}

.alert-text {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 10px 0;
}

.alert-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}
